@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --color-red: #f5222d;
  --color-gold: #faad14;
  --color-lime: #a0d911;
  --color-cyan: #13c2c2;
  --color-blue: #1677ff;
  --color-purple: #722ed1;
  --color-magenta: #eb2f96;
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing: content-box; */

  text-decoration: none;
  list-style: none;
  user-select: none;
  -webkit-user-drag: none;
  font-size: 1.6rem;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  // background:#666161;
  color: white;
  font-family: "Roboto Mono, DM Sans";
}

video {
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-structure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-structure > * {
  border: 3px dashed black;
  height: fit-content;
}

.main-structure header {
  display: flex;
  justify-content: space-between;
  align-items: center;

   > * {
    border: 2px dashed black;
    width: 10rem;
    height: 6rem;
  }

  .logo {
    // text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-logo {
    background: var(--color-blue);
    background: url("/icons/menu.svg");
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
  }
}

.main-structure main {
  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;


    h1 {
      font-size: 5rem;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5),
      -1px -1px 5px rgba(255, 255, 255, 0.5);
    }

    h2 {
      font-size: 4rem;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5),
        -1px -1px 5px rgba(255, 255, 255, 0.5);
    }

    p {
      font-size: 2rem;
      max-width: 70rem;
      min-width: 40rem;
      line-height: 1.5em;
    }

    span {
      display: flex;
      width: fit-content;
      border: 2px solid;
      padding: 1rem 3rem;
      border-radius: 3rem;
    }

  }
  
}

.main-structure footer {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 10rem;

  > * {
    filter: invert(1);
  }
}

